<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Nokia nokia C1-02 v0.1</string>
	<key>CFBundleIdentifier</key>
	<string>com.zedr.com.nokia.C102</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Nokia nokia C1-02</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2090</string>
	<key>IPHPhoneConduitVersion</key>
	<string>1004</string>
	<key>IPHPhonePluginUID</key>
	<string>A828KAL1-LZ99-AAS1-998Z-01AA891A81A1</string>
	<key>IPHPluginProviderName</key>
	<string>zedr.com</string>
	<key>IPHPluginSupportURL</key>
	<string>http://www.zedr.com</string>
	<key>IPHPublicPluginVersion</key>
	<string>1.0</string>
</dict>
</plist>
